In [34]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
#data = pd.read_csv('https://github.com/fivethirtyeight/data/blob/master/comic-characters/marvel-wikia-data.csv')
#data = pd.read_csv('https://github.com/fivethirtyeight/data/blob/master/comic-characters/dc-wikia-data.csv'
#                    , error_bad_lines=False )
data1 = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/dc-wikia-data.csv')
data2 = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv')

In [27]:
data.head()
# print(data1.describe())
# print(data2.describe())
#print(data.describe())
data1.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093,"1939, May",1939
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496,"1986, October",1986
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565,"1959, October",1959
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316,"1987, February",1987
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237,"1940, April",1940

In [36]:
tdf = pd.Series(['year', 'appearances'])

In [37]:
tdf.plot()

TypeError: Empty 'DataFrame': no numeric data to plot