In [1]:
# import numpy and pandas, and DataFrame / Series
import os
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

# Set some pandas options
# pd.set_option('display.notebook_repr_html', False)  #makes head() not inline
# pd.set_option('display.notebook_repr_html', True)  
# pd.set_option('display.max_columns', 10)
# pd.set_option('display.max_rows', 10)

# And some items for matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
# pd.options.display.mpl_style = 'default'

In [2]:
def load_csv(file):
    if os.path.exists(file):
        #print('readible')
        return pd.read_csv(file)
    else: 
        print('unreadible: ', file)
        return None
    
path_to_dir = (r'/Users/hs3m/Dropbox/Programming/iPython/Notebooks'
               '/Data for Diplomas 2015/'
               'Data for Diploams_Unmerged Data')
rel_path_to_file = r'Max_Tract_Overlap.csv'
file_path = os.path.join(path_to_dir, rel_path_to_file)
grad_rate = load_csv(os.path.join(path_to_dir, 'Graduation_Rates.csv'))
sd_tract = load_csv(os.path.join(path_to_dir, 'SD_TRACT_MAPPING2010.csv'))

In [3]:
def print_1_column(item):
    for i in list(item):
        print(i)
    return None
# print_1_column(grad_rate.columns)
print_1_column(sd_tract.columns)

Percentage
State
County
Tract Code
 School District
 District ID
Leaid

In [4]:
sd_tract.head()

,Percentage,State,County,Tract Code,School District,District ID,Leaid
0,100.000000,1,5,950300,Barbour County School District,300,100300
1,99.646318,1,5,950900,Eufaula City School District,1410,101410
2,0.353682,1,5,950900,Barbour County School District,300,100300
3,94.564782,1,5,950800,Eufaula City School District,1410,101410
4,5.435218,1,5,950800,Barbour County School District,300,100300

In [5]:
grad_rate.head()

,STNAM,FIPST,leaid11,leanm11,ALL_COHORT_1112,ALL_RATE_1112,MAM_COHORT_1112,MAM_RATE_1112,MAS_COHORT_1112,MAS_RATE_1112,...,MTR_COHORT_1112,MTR_RATE_1112,MWH_COHORT_1112,MWH_RATE_1112,CWD_COHORT_1112,CWD_RATE_1112,ECD_COHORT_1112,ECD_RATE_1112,LEP_COHORT_1112,LEP_RATE_1112
0,ALABAMA,1,100005,Albertville City,268,83,NaN,NaN,NaN,NaN,...,NaN,NaN,213,85-89,18,60-79,107,70-74,9,LT50
1,ALABAMA,1,100006,Marshall County,424,79,2,PS,1,PS,...,NaN,NaN,391,79,66,70-74,250,70-74,9,LT50
2,ALABAMA,1,100007,Hoover City,1042,91,1,PS,71,85-89,...,5,PS,688,94,63,70-74,216,75-79,21,21-39
3,ALABAMA,1,100008,Madison City,836,91,4,PS,44,GE90,...,2,PS,566,93,72,60-64,163,80-84,7,GE50
4,ALABAMA,1,100011,Leeds City,117,70-74,NaN,NaN,NaN,NaN,...,NaN,NaN,62,75-79,18,60-79,83,65-69,3,PS

In [ ]:
grad_rate.columns